@model IEnumerable<PavlovaElidaKT4220.Models.Prepod>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kafedra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stepen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kafedra.KafedraName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stepen.StepenName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrepodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrepodId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrepodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
